body {
  background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.bg {
	opacity: 0.8;
}


#windArrow, #swellArrow {
	transition:all 1.0s;
	-webkit-transition: all 1.0s;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
	-webkit-filter: invert(1);
  filter: invert(1);
	opacity:0;
	max-width:250px;
	height:auto;
}

.container {
        width: 500px;
        height: 500px;

        position:absolute;
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        max-width:100%;
        max-height:100%;
        overflow:auto;
}

#windData, #swellData {
	color:white;
}


p {
	font-family: 'Schoolbell', cursive;	
}
