<!-- templates/index.html -->
<html lang="en">
  <head>
    <title>WebApp</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet"> 
		<link href="../static/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
			var data
			var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit('waveData');
				socket.emit('tideData');
			})

			setInterval(function() {
				socket.emit('waveData');
			}, 1000);

			setInterval(function() {
        socket.emit('tideData');
      }, 1000*60*60*12);

			socket.on( 'returnWaveData', function( msg ) {
				swellData =[msg["swell"]["height"].toFixed(2),
										msg["swell"]["direction"].toFixed(2),
										msg["swell"]["period"].toFixed(2)]
				windData  =[msg["wind"]["speed"].toFixed(2),
										msg["wind"]["direction"].toFixed(2)]	
				data=msg
				//document.getElementById('output').innerHTML = JSON.stringify(data)
				turnArrow(windData ,(windData[0]*2.5),"wind" )
				turnArrow(swellData,(swellData[0]*31),"swell")
				return data
			} )

			
			socket.on( 'returnTideData', function( msg ) {
				console.log(msg)
			})


			// rotate width name
			function addLabels(data) {
				if(data.length==3) {
					var dataString = [
							(data[0])+"m",
							(data[1])+"degrees",
							(data[2])+"s"
					];
				} else {
					var dataString = [
							data[0]+"kph",
              data[1]+"degrees",
					];
				}
				return dataString;
			}


			function turnArrow(d,w,name) {
				let y = document.getElementById(name+"Data");
				y.innerHTML = addLabels(d);
				y.style.opacity = 1;
				let x = document.getElementById(name+"Arrow");
				x.style.transform = "rotate("+(d[1]-90)+"deg)"
				x.style.width = w
				x.style.opacity = 1
			}
    </script>
	</head>
	<body>
		<p id="output"></p>
		<div class="container" style="position: relative;">
			<div class="bg" style="z-index: 1; position: absolute; top: 0px; left: 0px;">
				<img id="bgimage" src="../static/background.png" style="max-width:500px; height:auto;">
			</div>
			<div class="fg" style="z-index: 2; position: absolute; top: 0px; left: 0px;">
				<div id="wind" style="position: absolute; top: 75px; left: 300px;">
					<img id="windArrow" src="../static/arrow.png">	
					<p id="windData"></p>
				</div>
				<div id="swell" style="position: absolute; top: 175px; left: 50px;">
					<img id="swellArrow"src="../static/arrow.png">
					<p id="swellData"></p>
				</div>
			</div>
		</div>
		<div class="tideApp">
			<script src="../static/tideApp.js"></script> 
		</div>
  </body>
	<footer>
		<p class="copyright">Contains ADMIRALTY® tidal data:© Crown Copyright and database right.</p>
	</footer>
</html>
